<h1>Auth#logout</h1>
<p>Find me in app/views/auth/logout.html.erb</p>

<%# Comment %>
<%= "The message from controller  #{@controller_msg}" %>

<%= link_to("Go to login page",
            {:controller => 'auth',
             :action => 'index',
             :id => 5,
             :random => "Golam"}
           )
%>